body {
    text-align: center;
    background-color: mediumslateblue;
}

ol {
    text-align: left;
}

h1,
h2,
h3,
p,
ul,
ol {
    color: white;
}

span {
    display: inline-block;
}

.list1 {
    padding-right: 20px;
}

.list2 {
    padding-left: 20px;
}